.chatBar{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chatHeader{
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chatInfo{
    flex: 1;
    padding-left: 20px;
}

.chatInfo > h3{
    margin-bottom: 3px;
    font-weight: 500;
}

.chatInfo > p{
    color: gray;
}

.ChatInfoRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chatBody{
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    overflow: scroll;
    padding: 30px;
}

.chatMessage{
    position: relative;
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 30px;
}

.chatReciever{
    
    background-color: #dcf8d6;
}

.chatName{
    position: absolute;
    top: -15px;
    font-weight: 700;
    font-size:  x-small;
}

.chatTime{
    font-size: xx-small;
    margin-left: 10px;
}

.chatFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    border-top: 1px solid lightgray;
}

.chatFooter > form {
    flex: 1;
    display: flex;

}

.chatFooter > form > input{
    padding: 11px;
    border-radius: 28px;
    border: none;
    flex: 1;
}

.chatFooter > form > button{
    display: none;
}

.chatFooter > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}
